body{
  margin-left: 812px;
  margin-top: 168px;
background:linear-gradient(to right,#e91e63,#3f51b5, #0DFF10);
}
.button{
  width: 70px;
  height: 80px;
  font-size: 25px;
  margin: 3px;
  cursor: pointer;
  background-color: rgb(179, 204, 255);
  border-radius: 50%;
  border-width: 0;


}
.textview{
  width: 238px;
  padding: 27px;
  background-color: rgba(51, 255, 193, 0.37);
  font-size: 20px;
}
